<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

   <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
   <link rel="stylesheet" type="text/css" href="{{ site.path }}/css/style.css" >
</head>
<body>

<div class="container">
<header class="masthead">
   <h3 class="masthead-title">
     <a href="{{ site.path }}">{{ site.title }}</a>
     <span class="masthead-navigation">
       <small>
         <a href="mailto:mail@vinayvinay.com">Email</a>
       </small>
       <small>
         <a href="https://goo.gl/CwSI7v">Resume</a>
       </small>
       <small>
         <a href="https://www.linkedin.com/in/vinay12">LinkedIn</a>
       </small>
       <small>
         <a href="https://www.twitter.com/vinayvinay">Twitter</a>
       </small>
       <small>
         <a href="https://www.github.com/vinayvinay">GitHub</a>
       </small>
     </span>
   </h3>
</header>

<div id="content">
  {{ content }}
</div>

</div><!-- .container -->
</body>
</html>
